@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #062E78;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.875rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  width: 100%;
  height: 100%;
  background: #80C9CA;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./assets/landscape.png');
  background-size: 50% auto;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-position: bottom left;
}

/* Clouds */
.cloud-1 {
  position: absolute;
  top: 4vw;
  left: 3vw;
  width: 14vw;
  max-width: 182px;
  height: auto;
}

.cloud-2 {
  position: absolute;
  top: -2vw;
  left: 39vw;
  width: 10vw;
  max-width: 130px;
  height: auto;
}

.cloud-3 {
  position: absolute;
  top: 2vw;
  left: 65vw;
  width: 13vw;
  max-width: 170px;
  height: auto;
}

.cloud-4 {
  position: absolute;
  top: 3vw;
  left: 84vw;
  width: 10vw;
  max-width: 125px;
  height: auto;
}

.cloud-5 {
  position: absolute;
  top: 16vw;
  left: 7vw;
  width: 17vw;
  max-width: 217px;
  height: auto;
}

.cloud-6 {
  position: absolute;
  top: 9vw;
  left: 21vw;
  width: 13vw;
  max-width: 170px;
  height: auto;
}

.cloud-7 {
  position: absolute;
  top: 8vw;
  left: 78vw;
  width: 14vw;
  max-width: 187px;
  height: auto;
}

.cloud-8 {
  position: absolute;
  top: 14vw;
  left: 65vw;
  width: 17vw;
  max-width: 217px;
  height: auto;
}

/* Animation for clouds moving to the left */
@keyframes cloud-move-to-left {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-15vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.cloud-2, .cloud-4, .cloud-5, .cloud-6,  .cloud-7 {
  animation: cloud-move-to-left 30s linear infinite;
}

/* Animation for clouds moving to the right */
@keyframes cloud-move-to-right {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.cloud-1, .cloud-3,.cloud-8 {
  animation: cloud-move-to-right 30s linear infinite;
}

.card {
  display: flex;
  width: 32.5rem;
  height: 41.875rem;
  min-width: 28rem;
  min-height: 37.375px;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: conic-gradient(from -90deg at 50% 50%, #EBFFE2 0deg, #6199CA 181.73077583312988deg, #EBFFE2 360deg);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  width: 30rem;
  height: 39.375rem;
  flex-shrink: 0;
  border-radius: 30px;
  background: conic-gradient(from 90deg at 50% 50%, #EBFFE2 0deg, #6199CA 181.73077583312988deg, #EBFFE2 360deg);
}

.read-the-docs {
  color: #888;
}
